<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Documents</title>
        <link href="/vendor/fontawesome/css/fontawesome.min.css" rel="stylesheet">
        <link href="/vendor/fontawesome/css/solid.min.css" rel="stylesheet">
        <link href="/vendor/fontawesome/css/brands.min.css" rel="stylesheet">
        <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/vendor/datatables/datatables.min.css" rel="stylesheet">
        <link href="/css/master.css" rel="stylesheet">
        <script src="/vendor/jquery/jquery.min.js"></script>
        <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="/vendor/datatables/datatables.min.js"></script>
        <script src="/js/initiate-datatables.js"></script>
        <script src="/js/script.js"></script>
        <script type="text/javascript" src="https://unpkg.com/jszip/dist/jszip.min.js"></script>
        <script src="/js/docx-preview.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/html-docx-js@0.3.1/dist/html-docx.min.js"></script>
        <script>
          $(document).ready( async function(){
            let url= `http://localhost:8080/<%= data.name %>`;
            await PreviewWordDoc(url)
            document.getElementById('edit').addEventListener('click', editPage);
            document.getElementById('save').addEventListener('click', savePage);
          })
            function editPage() {
              $('#word-container').attr('contenteditable', 'true');
            }

            async function savePage(filename="") {
              try{;
                await convertImagesToBase64()
                let resp= await fetch("/updateDocument", {
                  method: 'POST',
                  headers: {'Content-Type': 'application/json'},
                  body: JSON.stringify({htmltxt: document.getElementById("word-container").innerHTML, name: "<%= data.name%>", id: "<%= data._id %>"})
                })
              }catch(err){
                console.log(err)
              }
            }
            async function convertImagesToBase64 () {
              contentDocument = await document.querySelector("#word-container");
              var regularImages = contentDocument.querySelectorAll("img");
              var canvas = document.createElement('canvas');
              var ctx = canvas.getContext('2d');
              [].forEach.call(regularImages, function (imgElement) {
                ctx.clearRect(0, 0, canvas.width, canvas.height);
                ctx.drawImage(imgElement, 0, 0, imgElement.width, imgElement.height);
                var dataURL = canvas.toDataURL();
                imgElement.setAttribute('src', dataURL);
              })
              canvas.remove();
              return;
            }
            async function PreviewWordDoc(url) {
              let docRes = await fetch(url)
              let doc= await docRes.blob()
              let file = new File([doc], "<%= data.original_name %>");
              let docxOptions = Object.assign(docx.defaultOptions, {
                useMathMLPolyfill: true,
                breakPages: true,
                ignoreLastRenderedPageBreak: true,
                inWrapper: true, 
                ignoreWidth:  false, 
                ignoreHeight: false,
                trimXmlDeclaration: false,
                experimental: true,
                renderChanges:true
              });
              let container = document.querySelector("#word-container");
              let resp= docx.renderAsync(file, container, null, docxOptions);
              return "true";  
            };

        </script>
    </head>

    <body>
        <div class="wrapper">
            <!-- // sidebar -->
            <%- include('./sidebar.ejs'); %>
            <div id="body" class="active">
                <!-- header -->
                <%- include('./header.ejs'); %>
                <div class="content">
                    <div class="container">
                        <div class="page-title">
                            <h3>Documents
                                <!-- <a href="#" class="btn btn-sm btn-outline-primary float-end" data-bs-toggle="modal" data-bs-target="#exampleModal" onclick="getReqData()">Initiate Document</a> -->
                            </h3>
                        </div>
                        <div class="box box-primary">
                            <div class="box-body">
                              <div id="word-container" class=""></div>
                              <% let userType= JSON.parse(user) %>
                              <% if((data.action == "initiate" || data.action == "reviewed") && (userType.role == "reviewer" || userType.role == "approver")) { %>
                              <button id="edit" class="btn btn-primary">Edit</button>
                              <button id="save" class="btn btn-primary">Save</button> <%}%>
                              <button id="btnReset" class="btn btn-primary">Close</button>
                              <% if(data.action == "initiate" && userType.role == "reviewer") { %>
                              <button id="btnReview" class="btn btn-primary">Reviewd</button> <% } %>
                              <% if(data.action == "reviewed" && userType.role == "approver") { %>
                              <button id="btnApprove" class="btn btn-primary">Approved</button><% } %>
                              <% if(data.action == "approved") { %>
                              <button id="btnRequest" class="btn btn-primary">Request</button><% } %>
                              <% if(data.action == "accepted") { %>
                                <button id="btnDownload" class="btn btn-primary">Download</button><% } %>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>